* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  ackground: linear-gradient(#333, #444);
  font-family: sans-serif;
  font-size: 100%;
  overflow: hidden;
}
input, button {
  border: none;
  border-radius: 2px;
  margin: 2px;
  padding: 2px 5px;
}
button {
  background: white;
}
.App {
  text-align: center;
}
nav {
  background: rgb(150, 200, 150);
  box-shadow: 0px 0px 4px 1px #999;
  display: flex;
  padding: 5px;
  position: relative;
  z-index: 2;
}
nav .inputs {
  margin: auto 0 auto auto;
}
.inputs input {
  font-size: 24px;
}
.logo {
  color: white;
  font-family: raleway;
  font-size: 31px;
  font-style: oblique;
  font-weight: 600;
  margin: auto auto auto 0;

}
.overlay {
  display: flex;
  height: 0vh;
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  transition: all 0.5s ease;
  width: 100vw;
  z-index: 5;
}
.overlay div {
  margin: auto;
}
.error-overlay {
  background: radial-gradient(rgba(250, 120, 100, 0.9), rgba(255, 90, 90, 0.9));
  color: white;
  text-shadow: 0px 0px 2px black;
}
.error-overlay-active {
  height: 100vh;
  transition: all 0.3s ease;
}
.start-overlay {
  background: radial-gradient(to top right, rgba(30, 20, 20, 0.9), rgba(90, 90, 90, 0.9));
  color: white;
  text-shadow: 0px 0px 2px black;
}
.start-overlay-active {
  height: 100vh;
  transition: all 0.5s ease;
}


@media (max-width: 676px) {
  .inputs input {
    font-size: 14px;
    text-align: left;
  }
  nav {
    text-align: right;
  }   
  .logo {
    font-size: 26px;
  }
}