.chat {
	background: #eee;
	margin: 0 auto;
	max-width: 800px;
	padding: 2vh 0;
	width: 98%;

}
.form {
  	background: rgb(150, 200, 150);
  	box-shadow: 0px 0px 4px 1px #999;
	font-size: 24px;
	padding: 5px;

	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}
.form input, .form button {
	font-size: 24px;
}
.form input {
	max-width: 80%;
	width: 300px;
}



@media (max-width: 676px) {
	.form input, .form button {
		font-size: 18px;
	}		
}

/*-------------MESSAGESCONTAINER-----------------*/


.messages {
	height: 84vh;
	overflow-y: scroll;
}